@model IEnumerable<BookViewModel>

<h2>Danh sách sách</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Năm xuất bản</th>
            <th>Tác giả</th>
            <th>Thể loại</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.PublishYear</td>
                <td>@book.AuthorName</td>
                <td>@book.CategoryName</td>
            </tr>
        }
    </tbody>
</table>
